[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest-cov = "*"

[requires]
python_full_version = "3.12.2"
python_version = "3.12"

[scripts]
format = "black -l 119 ."
lint = "flake8 --show-source ."
start = "python src/examples_packaging_pipenv/console/command.py"
test = "pytest"
